<h1>Near Earth Objects (Asteroids)</h1>
 <input id="searchTerm" type="text" placeholder="Enter date" />
    <button id="search">
        Search
    </button>
<br>
<br>
    <div>
 <input id="Display" type="text" placeholder="Display JSON" />
    <button id="display">
        Display
    </button>
    </div>
<br>



    <div id="content2">
        Close Approach Date:
    </div>
    <div id="content">
        Diameter:
    </div>
    <div id="content1">
        Magnitude:
    </div>
 
    <div>
  <label for="javascript">Roveridia Microservice:</label><br><br>
    <button id="roveridia">
        RoverData
    </button>
    </div>

<br>
<br>
<br>
    <div>     
        <label for="javascript">Exoplanets Microservice:</label><br><br>
    <button id="exoplanets">
        Download
    </button>
    </div>
 
